@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-home: #663128;
    --cor-primaria: #7c4032;
    --cor-background: #fef4de;
    --cor-input: #e5af99;
    --cor-footer: #55352d;
    --cor-botao: #f3ce5e;
}
footer{
    background-color: white;
}
.containerfooter{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 400px;
    margin-right: 400px;
    row-gap: 50px;
}
.footercontainer h1 {
    margin: 50px;
    padding-top: -42px;
    left: 749px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    color: var(--cor-primaria);
}

.footercontainer{
    width: 100%;
    height: 504px;
}

.footerbottom{
    background-color: var(--cor-primaria);
    height: 117px;
}

.texto-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoicon{
    margin-top: 45px;
}

.texto{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    width: 374px;
    height: 56px;
    border-radius: 61px;
    background: #e5af99;
}

.enviar{
    background-color: white;
    width: 168px;
    height: 56px;
    box-sizing: border-box;
    border: none;
    color: var(--cor-primaria);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 61px;
    border: 3px solid #7C4032;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footercontainer .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footercontainer .icon {
    display: flex;
    align-items:center;
    margin-right: 10px;
    margin-bottom: 20px;
    
  }
  
  .footercontainer .icon img {
    
    margin-right: 10px;
  }
  
.footercontainer .icon span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    display: flex;
    align-items:center;
    margin-right: 10px;
    margin-bottom: 20px;
    
  }

    
  .icon img {
    
    margin-right: 10px;
  }

  .icon span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
