*{
    line-height: 1.5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem ;
}

:root{
    --cor-home:#663128;
    --cor-primaria: #7c4032;
    --cor-background: #fef4de;
    --cor-input: #e5af99;
    --cor-footer: #55352d;
    --cor-botao: #f3ce5e;
}

.shop img{
    position: relative;
}

.shop{ 
    background-color: var(--cor-background);
    justify-content: center;
    display: flex;
}

.shop h1{
    padding-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    color: var(--cor-primaria);
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    line-height: 96px;
    line-height: 100%;
    font-weight: bold;
}

.container-t{
    justify-content: center;
    display: flex;
    position: absolute;
}